* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Monofonto', sans-serif;
  color: #000;
  background: url('imagee.jpg') center/cover no-repeat;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    cursor: url("cursor.png"), auto;
}

a:hover {
  cursor: url("cursor2.png"), pointer;
}

.art-div {
  width: 100vw;
  height: 100%;
  z-index: 1000000000000;
  background-color: #fff6d8;
  text-align: center;
}

@keyframes stretch {
    0% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}
