* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Monofonto', sans-serif;
  color: #000;
  background: url('imagee.jpg') center/cover no-repeat;
}

body {
    margin: 0;
    overflow-x: hidden;
    height: 100%;
    cursor: url("cursor.png"), auto;
}

a:hover {
  cursor: url("cursor2.png"), pointer;
}

@media (max-width: 800px) {
  .tawartgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }
}

.tawartgallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card {
  display: inline-block;
  display: grid;
  grid-template-areas:
    "image"
    "text";
  grid-template-columns: 1fr 3fr;
  gap: 3px;
  margin: 0rem auto;
  background-color: white;
  padding: 30px;
  margin-left: 4vw;
  width: 25vw;
  height: auto;
  margin: 2vw;
}

.card div {
  width: 20vw;
  height: 70%;
}

.card div.image {
  grid-area: image;
}

.card div.text {
  grid-area: text;
}

.art-div {
  width: 100vw;
  z-index: 1000000000000;
  background-color: #fff6d8;
  text-align: center;
}

@keyframes stretch {
    0% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}
