* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('Images/Background.jpg');
  background-size: cover; 
  background-position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

html, body {
  height: 100%;
  font-family: 'Space Age', sans-serif;
  color: black;
}

.nav {
  background-color: #600505;
  width: 80%;
  z-index: 500;
  height: 16%;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.main {
  background: url('Images/Background2.jpg');
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-attatchment: fixed;
  background-size: cover;
  border: 8px solid #000000;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
