* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Monofonto', sans-serif;
  color: #000;
  background: url('imagee.jpg') center/cover no-repeat;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

.stretchy-div {
  margin-left: 1%;
  width: 98vw;
  height: 100vh;
  z-index: 1000000000000;
  background-color: #FF00FF;
  border: 5px solid #000000;
  border-radius: 500px;
  text-align: center;
}

@keyframes stretch {
    0% {
        transform: scaleX(0.5);
    }
    100% {
        transform: scaleX(1);
    }
}
