* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Monofonto', sans-serif;
  color: #000;
  background: url('Background.jpg') center/cover no-repeat;
}

.main {
  width: 90vw;
  height: 100vw;
  z-index: 1000000000000;
  background-color: #FF00FF;
  border: 5px solid #000000;
  border-radius: 50px;
  text-align: center;
}
